/* =============
    Base
============= */

@use "../helpers";

body{
    background-color: var(--gray);
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


.hide-for-md{

    @include helpers.md{
        display: none !important
    }
}

.show-for-large{
    display: none;
    @include helpers.lg{
        display: block;
    }
}

.show-menu{
    display: block;
}