/* =============
    Header
============= */
@use "../helpers";

header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    @include helpers.xl {
        grid-template-columns:  auto 1200px auto;
    }

    .grid-container-page{
        grid-area: header;

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "logo burger"
        "nav nav";

        @include helpers.md{
            grid-template-areas: "logo nav";
        }

        #logo-container{
            grid-area: logo;

            img{
                width: 75px;
            }
        }

        #burger-container{
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        #main-menu{
            grid-area: nav;
        }
    }
}