/* =============
    Navigation
============= */

@use "../helpers";

a:link, a:visited{
    text-decoration: none;
    color: var(--black);
    transform: 0.25s;

    &:hover, &:active{
        color: green;
    }
}

#main-menu{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        height: 100%;

        @include helpers.lg{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        li{
            margin-bottom: rem-calc(36);
            @include helpers.lg{
                margin-bottom: 0;
                margin-right: rem-calc(36);
            }

            a{
                text-align: right;
                @include helpers.lg{
                    text-align: left;
                }
            }
        }
    }
}