/* =============
    Navigation
============= */

@use "../helpers";

a:link, a:visited{
    text-decoration: none;
    color: var(--black);
    transform: 0.25s;
    display: inline-block;
}

.active-item{
    color: orange !important;
}

#main-menu{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        height: 100%;

        @include helpers.md{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        li{
            // margin-bottom: helpers.rem-calc(36);
            height: 100px;
            // border: 1px solid blue;

            @include helpers.md{
                margin-bottom: 0;
                height: 100%;
            }

            a{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                box-sizing: border-box;
                height: 100%;
                // border: 1px solid red;

                &:hover, &:active{
                    background-color: var(--white);
                }

                @include helpers.md{
                    padding: 24px;
                    text-align: left;
                }
            }
        }
    }
}