/* =============
    Navigation
============= */

@use "../helpers";

a:link, a:visited{
    text-decoration: none;
    color: var(--black);
    transform: 0.25s;
    // border: 1px solid red;
    display: inline-block;
    height: 100%;

    &:hover, &:active{
        background-color: var(--white);
    }
}

#main-menu{
    ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        height: 100%;

        @include helpers.lg{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        li{
            margin-bottom: helpers.rem-calc(36);
            @include helpers.lg{
                margin-bottom: 0;
                // margin-left: helpers.rem-calc(32);
                height: 100%;
            }

            a{
                text-align: right;
                display: flex;
                align-items: center;
                box-sizing: border-box;


                @include helpers.lg{
                    padding: 24px;
                    text-align: left;
                }
            }
        }
    }
}